@font-face {
    font-family: "Netflix Sans";
    src: url(../assets/Netflix\ Sans\ Light.otf);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Netflix Sans";
  background-color: #141414;
  overflow-x: hidden;
}
.header {
    z-index:100 ;
}
.headercontainer {
  display: flex;
  width: 100%;
  align-items: self-start;
  text-align: left;
  height: 68px;
  position: fixed;
  background:linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
}

.logo img {
  width: 105px;
  margin-left: 40px;
  margin-top: 12px;
}
.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav ul li {
  color: #e5e5e5;
}
.nav ul li a {
  text-decoration: none;
  color: #e5e5e5;
  font-size: 1.2rem;
}
.nav ul li a:hover {
  color: grey;
}
.trailercover{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.trailercover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}