<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" href="../assets/netflix_logo_icon_170919.png" type="image/png">
</head>
<body>
    <div class="pagecontainer">
    <header class="header">
        <div class="headercontainer">
            <div class="logo"><img src="../assets/Logonetflix.png" alt="Netflix Logo"></div>
            <nav class="nav">
                <ul class="navlist">
                    <li class="navitem"><a href="#">Home</a></li>
                    <li class="navitem"><a href="#">TV Shows</a></li>
                    <li class="navitem"><a href="#">Movies</a></li>
                    <li class="navitem"><a href="#">My List</a></li>
                </ul>
        </div>
    </header>
    <div class="mainbody">
        <div class="upperarea">
        <div class="trailercover"><img src="../assets/638525.jpg" alt="dexter"></div>
        </div>
    </div>
    </div>
</body>